.chatBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15px;
  top: 15px;
  height: calc(100dvh - 110px);
  width: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  z-index: 10;
  padding: 10px;
  justify-content: space-between;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
.chat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  max-height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  .messageCon {
    .sender {
      font-weight: bold;
      font-size: 17px;
    }
    .msgBox {
      background-color: #d3d3d3;

      border-radius: 8px;
      width: 100%;
      padding: 8px;
      .message {
        font-size: 16px;
        white-space: pre-line
      }
      .bb {
        text-decoration: underline;
        cursor: pointer;
      }
      .imgsRow {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
        margin-top: 4px;
        img {
          max-width: 80px;
          max-height: 80px;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .bot {
    .msgBox {
      background-color: #4095c3;
      cursor: pointer;
    }
    .msgBox:hover {
      opacity: 0.8;
    }
    .selectedMsgBox {
      background-color: #0c2448;
      color: #fff;
    }
  }
}
.sendArea {
  position: relative;
  width: 100%;
  height: max-content;
  hr {
    margin: 5px;
  }
  .inforow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }
  .imgRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
    .imgCon {
      width: max-content;
      height: 80px;
      max-width: 80px;
      max-height: 80px !important;
      min-width: 40px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .menuView {
        position: absolute;
        z-index: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        transition: all 500ms ease-in-out;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .cross {
        background-color: #fff;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      &:hover {
        .menuView {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
