html {
  margin: 0;
  padding: 0;
}
body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}
#root {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  /* background: #324065; */
  background: var(
    --background-content_bg-content_bg-5,
    rgba(137, 137, 234)
  );

  border-radius: 50px;
}

::-webkit-scrollbar-track {
  /* background-color: #1c2d48; */
  background: var(
    --background-content_bg-content_bg_3,
    rgba(137, 137, 234, 0.5)
  );

  border-radius: 50px;
}
