# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
*/venv/*
*venv*
__pycache__/
*__pycache__*
# Build directories
dist/
build/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# FastAPI specific
*.sqlite3
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*

# React specific
*.cache/
*.eslintcache
public/static/
*.map

# Testing
coverage/
pytest_cache/
jest-test-results.json

myenv
myenv/*
*/myenv/*
/myenv/

/AI_Server/uploads/*
/AI_Server/frames/*
