.mobileMenuBox {
    /* border: 4px solid pink; */
    background: #fff;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    z-index: 111;
    display: none;
}

.mobileMenuBoxHide {
    position: absolute;
    top: 60px;
    background: #fff;
    width: 100%;
    height: 0px;
    opacity: 0;
    z-index: 0;
    transition: .5s all ease;
}

.mobileMenuPASideBarTopBox1 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mobileMenuSiteSelectionDropdown {
    /* border: 2px solid green; */
    width: 95%;
}

.mobileMenuPASideBarItem,
.mobileMenuPASideBarItemDisabled {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    flex: initial;
    height: 80px;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s all ease-in-out;
    cursor: pointer;
}

.mobileMenuPASideBarItem:hover {
    border: 1px solid #5ABEFF;
}

.mobileMenuPASideBarItem.active:hover {
    border: 3px solid #5ABEFF;
}

.mobileMenuPASideBarItem.active {
    border: 3px solid #5ABEFF;
    opacity: 1;
}




@media only screen and (min-width: 1600px) {

    .mobileMenuPASideBarItem {
        height: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    /* .mobileMenuBox {
        display: block;
    } */
}

@media only screen and (max-width: 600px) {
    .mobileMenuBox {
        display: block;
    }
}